.RACHEL {
    background-color: chartreuse; color: deeppink; margin-inline-start: auto; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: medium;font-style: oblique;}

#How {
    background-color: black; color: purple; padding-inline-start: auto; font-family: 'Arial', sans-serif;}